/* ===========================
1. Base CSS
=========================== */

.alignleft {
  float: left;
  margin-right: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

a:focus, input:focus, textarea:focus, button:focus {
  outline: 0 solid
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  font-weight: 300;
}

a:hover {
  text-decoration: none
}

ul {
  margin: 0;
  padding: 0;
  list-style: none
}

body, p {
  font-family: 'FilsonPro', 'Muli', sans-serif;
  font-size: 13px;
  line-height: 29px;
  color: #696969;
  font-weight: 300;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 45px;
  color: #333;
  line-height: 1.11;
}

.section-padding {
  padding: 150px 0 50px;
}

.section-grey {
  background-color: #f6f7fa;
}

.section-title h2 {
  font-size: 40px;
  line-height: 1.25;
  color: #39c2c9;
  font-weight: bold;
}

.section-title h3 {
  font-size: 28px;
  line-height: 34px;
  color: #aeaeae;
}

.section-title.title-white h2 {
  color: #fff;
}

.section-title {
  margin-bottom: 80px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-215 {
  margin-top: 215px;
}

.padding-top-180 {
  padding-top: 180px;
}

.site-default-btn {
  background: #fff;
  border-radius: 500px;
  display: inline-block;
  color: #666666;
  font-size: 18px;
  padding: 16px 22px;
  letter-spacing: 1px;
  border: 0px;
  font-weight: 400;
}

.site-default-btn:hover {
  color: #666666;
}

.btn-green {
  background: #39c2c9;
  color: #fff;
  margin-right: 10px;
  padding: 14px 32px;
  transition: background-color .5s linear;
}

.btn-green:hover {
  color: #fff;
  background: #0081A3;
}

.btn-white {
  background: #fff;
  color: #39c2c9;
  margin-right: 10px;
  padding: 14px 32px;
  transition: background-color .5s linear, color .5s linear;
}

.btn-white:hover {
  color: #fff;
  background: #0081A3;
}


/*============================
2. Hero Section CSS
============================*/

.hero-area {
  min-height: 100%;
  min-height: 100vh;
  padding-top: 80px;
  display: flex;
  align-items: center;
}

.site-section-bg {
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-text h1 {
  font-weight: 400;
  color: #333;
  line-height: 50px;
  margin-bottom: 18px;
}

.hero-text p {
  font-family: 'FilsonProBook', 'Muli', sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.2px;
  margin-bottom: 60px;
}

.hero-text p .p-italic {
  font-style: italic;
}

.hero-text h1 strong {
  font-weight: 700;
}

.hero-text span {
  display: inline-block;
  margin-bottom: 25px;
}

.header-area .navbar-brand {
  padding: 0;
  height: auto;
}

.header-area .navbar {
  padding: 14px 0;
}

.header-area .navbar {
  padding: 32px 0;
  background: transparent;
  border-bottom: 0px;
  transition: 0.5s;
}

.header-area .navbar-collapse {
  float: right;
}

.main-menu ul.nav li {
  margin-right: 113px;
}

.main-menu ul.nav li:last-child {
  margin-right: auto;
}

.main-menu ul.nav li a {
  color: #aeaeae;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 15px 15px;
  letter-spacing: -0.2px;
}

.main-menu ul.nav li a:hover {
  color: #333;
  transition: 0.5s;
}

.main-menu ul.nav li a:focus {
  color: #333;
}

.main-menu ul.nav li a.btn-green {
  color: #fff;
  padding: 14px 32px;
  font-size: 18px;
  margin: 0;
  transition: background-color .5s linear;
}

.main-menu ul.nav li a.btn-green:hover {
  background: #39c2c9;
  background: #0081A3;
}

.header-area .top-navigation-animate {
  background: #fff;
  transition: 0.5s;
}

.header-area .navbar-brand {
  margin-left: 0 !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-header {
  transform: translateY(25%);
}


/*============================
3. Feature & Video Section CSS
============================*/

section#feature {
  background: #f3f3f3;
  min-height: 100vh;
}

.feature-icon {
  margin-bottom: 10px;
}

.single-feature {
  margin-bottom: 40px;
}

.single-feature h5, .single-feature-two h5 {
  font-weight: 500;
  font-size: 28px;
  color: #333;
  line-height: 36px;
  margin-bottom: 20px;
  margin-top: 60px;
}

.single-feature p, .single-feature-two p {
  font-family: 'FilsonProBook', 'Muli',sans-serif;
  font-size: 20px;
  color: #aeaeae;
  line-height: 30px;
}


/*============================
4. team Section CSS
============================*/

.single-team-table {
  margin-bottom: 60px;
}

.team-heading {
  background: #f6f7fa;
  margin-bottom: 40px;
}

.team-features ul li {
  line-height: 45px;
}

.team-features p {
  color: #39c2c9;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 8px;
}

.team-features a {
  color: #d7d7d7;
  font-size: 28px;
  line-height: 32px;
  transition: color .3s linear;
}

.team-features a:hover {
  color: #333;
}

.team-features p.team-bullet {
  display: inline-block;
  color: #d7d7d7;
  font-size: 12px;
  line-height: 0px;
  padding: 5px 10px;
  transform: translateY(-50%);
}


/*============================
5. Footer Section CSS
============================*/

footer {
  background: url(../imgs/bg-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 585px;
  display: flex;
}

.footer-padding {
  padding: 0 0 45px 0;
}

.footer-nav {
  position: fixed;
  bottom: 0;
  padding: 45px 0;
  width: 100%;
  width: 100vw;
}

.parent-row {
  height: 100%;
}

.bottom {
  position: absolute;
  bottom: 0;
  margin-right: 0;
  width: 100%;
}

.vcenter {
  display: flex;
  align-items: center;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-widget p {
  color: #fff;
  font-size: 45px;
  line-height: 1.11;
}


/*============================
6. Scrollbar
============================*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #39c2c9;
  border-radius: 10px;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0081A3;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
  margin: 0 20px;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #39c2c9;
}

.navbar-toggle .icon-bar {
    width: 26px;
    height: 3px;
    border-radius: 1px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: #39c2c9;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
  background: #fff;
}
